alabaster==0.7.12
apikey==0.2.4
arrow==1.2.1
asgiref==3.4.1
astroid==2.9.0
atomicwrites==1.4.0
attrs==21.2.0
autopep8==1.6.0
Babel==2.9.1
backcall==0.2.0
backports.entry-points-selectable==1.1.1
bcrypt==3.1.7
binaryornot==0.4.4
black==21.12b0
bleach==4.1.0
blinker==1.4
certifi==2020.6.20
chardet==4.0.0
click==7.1.2
cloudpickle==2.0.0
colorama==0.4.4
colorgram.py==1.2.0

